@import '@/styles/variables.scss';
@import '@/styles/colors.scss';


footer {
    background: #87f;
    padding: 25px 0;
    text-align: center;
    font-size: 1.2rem;
    color: white;
    position: relative;
    top: 75px;
}

