@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

h2 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.btn {
    width: 100%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.btn-form {
    max-width: 100%;
}